{{#each this}}
    <div id="popup" class="popup">
      <div class="popup_body">
          <div class="popup_content">
              <a href="" class="popup_close cross close-popup">
                  <svg class="cross">
                  <use href="./images/sprite.svg#icon-cross">Close</use> 
                  </svg>
              </a>
              <div class="popup_title">НАША КОМАНДА</div>
              <div class="popup_text">
                  <li>
                      <a href="{{href}}" class="popup-link info">{{name}}</a>
                  </li>
                  {{!-- <li>
                      <a href="#popup_2" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_3" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_4" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_5" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_6" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_7" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_8" class="popup-link info">{{name}}</a>
                  </li>
                  <li>
                      <a href="#popup_9" class="popup-link info">{{name9}}</a>
                  </li> --}}
  
              </div>
          </div>
      </div>
    </div>
{{/each}}