
{{#each this}}
<li class="film__item">
    <img alt="{{title}}" src="https://image.tmdb.org/t/p/original{{poster_path}}" onerror="this.src='http://blog.aspneter.com/Images/Posts/no-thumb.jpg';"/>

    <div class="film__info">
        <h2 class="film__name">{{original_title}}</h2>
        <p class="film__description">{{genre_ids}} <span>|</span> {{release_date}}</p>
    </div>
</li>
{{/each}}